.div-available {
    width: 70px;
    height: 20px;
    border: 1px solid white;
    display: inline-block;
}

.div-available.available {
    
    background-color: #0b6ec1;
}

.div-available.unavailable {
    background-color: #7f7f7f;
}

img {
    width: 560px;
    height: 60px;
}

p {
    width: 70px;
    height: 20px;
    display: inline-block;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
