.srow {
    height: 50px;
}

selector {
    margin-top: 8px;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

.div-uploadImage{
    margin-top: 8px;
    min-height: 200px;
    text-align: center;
}

.employee .div-title div{
    width: calc(100% - 262px);
}

.employee>div:last-child {
    margin: auto;
}

.employee .text-container{
    margin-top: 30px;
}

.write-up .div-title div{
    width: calc(100% - 230px);
}

.write-up>div:last-child {
    margin: auto;
}

.write-up>div:last-child>div {
    display: inline-block;
}

.write-up>div:last-child p{
    font-size: 16px;
    line-height: 20px;
    height: 20px;
}

.write-up textarea {
    margin-top: 10px;
    height: calc(100% - 30px);
}

.relates-to .div-title div{
    width: calc(100% - 539px);
}

input[type="checkbox"]{
  width: 30px;
  height: 30px;
}

.relates-to>div:last-child {
    margin: auto;
}

.relates-to>div:last-child>div {
    display: inline-block;
}

button {
    width: 120px;
    height: 40px;
    border: 2px solid #383838;
    border-radius: 10px;
    background-color: #585858;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 40px;
}