.fullwidth {
    width: 100%;
}

.halfwidth {
    width: calc(50% - 2px);
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear::before {
    display: table;
    content: "";
}

.clear::after {
    display: table;
    clear: both;
    content: "";
}

.main {
    margin-left: 100px;
    margin-right: 30px;
    width: calc(100% - 130px);
}

.srow {
    height: 50px;
    line-height: 50px;
}

.srow img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.srow p{
    width: 80px;
}

.srow input{
    width: calc(100% - 160px);
}

.ssrow {
    height: 30px;
    line-height: 30px;
}

.mrow {
    height: 75px;
    line-height: 20px;
}

.ssrow input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 5px;
}

button {
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: #585858;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 40px;
}

.div-title {
    margin-top: 50px;
    display: inline-block;
}

.div-title  * {
    display: inline-block;
}

.div-title img {
    width: 100px;
    height: 90px;
}

.div-title p {
    margin-left: 10px;
    font-size: 25px;
}

.div-title div{
    height: 3px;
    background-color: #757575;
    margin-bottom: 8px;
}

.text-container {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    color: #ccc;
    background-color: #585858;
}

input {
    height: 34px;
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

selector {
    margin-top: 8px;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

.basic-info .div-title p{
    width: 250px;
}

.basic-info .div-title div{
    width: calc(100% - 260px);
    margin-bottom: 0;
}

.avatar {
    width: 150px;
    height: 150px;
    margin-right: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.basic-info .main>div{
    width: calc(50% - 90px);
    padding-left: 30px;
    padding-right: 30px;
    border-left: 3px solid #757575;
}

.basic-info .main p{
    width: calc(100% - 70px);
}

.basic-info .two-p{
    width: calc(50% - 30px)!important;
}

.leadership .div-title p{
    width: 200px;
}

.leadership .div-title div{
    width: calc(100% - 210px);
    margin-bottom: 0;
}

.div-tab {
    margin-top: 40px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    color: #555;
    text-align: center;
}

.div-tab .left{
    border-bottom: 5px solid #757575;
}

.div-tab .left:hover{
    background-color: #3bbbed;
    color: #eff;
    border-bottom: 5px solid #2aaadc;
}

.div-tab div.on{
    background-color: #3bbbed;
    color: #eff;
    border-bottom: 5px solid #2aaadc;
}

.div-tab .right{
    border-bottom: 5px solid #757575;
}

.div-tab .right:hover{
    background-color: #3bbbed;
    color: #eff;
    border-bottom: 5px solid #2aaadc;
}

.product .div-title div{
    width: calc(100% - 259px);
}

.ad-service.div-title>div{
    width: calc(100% - 401px)!important;
    display: inline-block;
}

.ad-service p{
    line-height: 50px;
    padding: 0!important;
    margin: 0!important;
}

.customer.div-title>div{
    width: calc(100% - 551px)!important;
}

.customer .main p{
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.customer .main .row>img{
    margin-top: 20px;
}

.performance .div-title div{
    width: calc(100% - 383px);
}

.pp-slide {
    width: calc(33% - 40px);
    margin: 20px;
    border-radius: 2px;
    border: 2px solid #ccc;
    box-shadow: 0px 1px 5px #ccc;
    display: inline-block;
}

.pp-slide img{
    border: 1px solid #757575;
}

.pp-slide p{
    padding: 20px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
}

.pp-slide p.halfwidth {
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    text-align: left;
    line-height: 15px;
}

.pp-slide p.left{
    padding-left: 30px;
}

.pp-slide p.right{
    padding-right: 30px;
}

.pp-slide p.halfwidth strong{    
    line-height: 20px;
}

.pp-slide button {
    width: 80%;
    margin-left: 10%;
}

.cert .div-title div{
    width: calc(100% - 422px);
}

.cert .div-title p {
    line-height: 45px;
}

.vehicle .div-title div{
    width: calc(100% - 242px);
}

.schedule .div-title div{
    width: calc(100% - 271px);
}