/* You can add global styles to this file, and also import other style files */

body{
    background-color: #fdf5eb!important;
}

* {
    transition: 0.2s;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear::before {
    display: table;
    content: "";
}

.clear::after {
    display: table;
    clear: both;
    content: "";
}

:focus {
    outline: none;
}

.text-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    color: #ccc;
    background-color: #585858;
}

.div-info {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.div-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.vcenter {
    transform: translateY(50%);
}

.div-info p {
    width: calc(50% - 30px);
}

.div-title {
    margin-top: 50px;
    display: inline-block;
}

.div-title  * {
    display: inline-block;
}

.div-title img {
    width: 100px;
    height: 90px;
}

.div-title p {
    font-size: 25px;
}

.btn-back {
    background: url('./assets/img/btn-close.png') no-repeat center center;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
}

input {
    height: 34px;
    margin-top: 8px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.fc-title           { color: #4373c3; }
.fc-subtitle        { color: #3e3e3e; }
.fc-white           { color: white; }
.fc-black           { color: #1d1d1d; }
.fc-black-light     { color: #3a3a3a}
.fc-purple          { color: #663092; }
.fc-purple-light    { color: #9169b1; }
.fc-blue            { color: #0080f8; }
.fc-blue-light      { color: #1191ff; }
.fc-green           { color: #5cbf90; }

.dib{display:inline-block;} .db{display:block;}

.t-upper{text-transform:uppercase;} .t-lower{text-transform:lowercase;} .t-capital{text-transform:capitalize;} .t-none{text-transform:none;}

.m0auto{margin:0 auto; float:none;}
.m5{margin:5px;}.m10{margin:10px;}.m15{margin:15px;}.m20{margin:20px;}.m25{margin:25px;}
.m30{margin:30px;}.m35{margin:35px;}.m40{margin:40px;}.m45{margin:45px;}.m50{margin:50px;}
.m55{margin:55px;}.m60{margin:60px;}.m65{margin:65px;}.m70{margin:70px;}.m75{margin:75px;}
.m80{margin:80px;}.m85{margin:85px;}.m90{margin:90px;}.m95{margin:95px;}.m100{margin:100px;}

.fs-10{font-size:10px;} .fs-11{font-size:11px;} .fs-12{font-size:12px;} .fs-13{font-size:13px;} .fs-14{font-size:14px;}
.fs-15{font-size:15px;} .fs-16{font-size:16px;} .fs-17{font-size:17px;} .fs-18{font-size:18px;} .fs-19{font-size:19px;}
.fs-20{font-size:20px;} .fs-21{font-size:21px;} .fs-22{font-size:22px;} .fs-23{font-size:23px;} .fs-24{font-size:24px;}
.fs-25{font-size:25px;} .fs-26{font-size:26px;} .fs-27{font-size:27px;} .fs-28{font-size:28px;} .fs-29{font-size:29px;}
.fs-30{font-size:30px;} .fs-31{font-size:31px;} .fs-32{font-size:32px;} .fs-33{font-size:33px;} .fs-34{font-size:34px;}
.fs-35{font-size:35px;} .fs-36{font-size:36px;} .fs-37{font-size:37px;} .fs-38{font-size:38px;} .fs-39{font-size:39px;}
.fs-40{font-size:40px;} .fs-41{font-size:41px;} .fs-42{font-size:42px;} .fs-43{font-size:43px;} .fs-44{font-size:44px;}
.fs-45{font-size:45px;} .fs-46{font-size:46px;} .fs-47{font-size:47px;} .fs-48{font-size:48px;} .fs-49{font-size:49px;} .fs-50{font-size:50px;}

.mt5 {margin-top: 5px;}.mt10 {margin-top: 10px;} .mt15 {margin-top: 15px;}.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}.mt30 {margin-top: 30px;} .mt35 {margin-top: 35px;}.mt40 {margin-top: 40px;}
.mt45 {margin-top: 45px;}.mt50 {margin-top: 50px;} .mt55 {margin-top: 55px;}.mt60 {margin-top: 60px;}
.mt65 {margin-top: 65px;}.mt70 {margin-top: 70px;} .mt75 {margin-top: 75px;}.mt80 {margin-top: 80px;}
.mt85 {margin-top: 85px;}.mt90 {margin-top: 90px;} .mt95 {margin-top: 95px;}.mt100 {margin-top: 100px;}

.mr5 {margin-right: 5px;}.mr10 {margin-right: 10px;} .mr15 {margin-right: 15px;}.mr20 {margin-right: 20px;}
.mr25 {margin-right: 25px;}.mr30 {margin-right: 30px;} .mr35 {margin-right: 35px;}.mr40 {margin-right: 40px;}
.mr45 {margin-right: 45px;}.mr50 {margin-right: 50px;} .mr55 {margin-right: 55px;}.mr60 {margin-right: 60px;}
.mr65 {margin-right: 65px;}.mr70 {margin-right: 70px;} .mr75 {margin-right: 75px;}.mr80 {margin-right: 80px;}
.mr85 {margin-right: 85px;}.mrb90 {margin-right: 90px;} .mr95 {margin-right: 95px;}.mr100 {margin-right: 100px;}

.mb5 {margin-bottom: 5px;}.mb10 {margin-bottom: 10px;} .mb15 {margin-bottom: 15px;}.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}.mb30 {margin-bottom: 30px;} .mb35 {margin-bottom: 35px;}.mb40 {margin-bottom: 40px;}
.mb45 {margin-bottom: 45px;}.mb50 {margin-bottom: 50px;} .mb55 {margin-bottom: 55px;}.mb60 {margin-bottom: 60px;}
.mb65 {margin-bottom: 65px;}.mb70 {margin-bottom: 70px;} .mb75 {margin-bottom: 75px;}.mb80 {margin-bottom: 80px;}
.mb85 {margin-bottom: 85px;}.mlb90 {margin-bottom: 90px;} .mb95 {margin-bottom: 95px;}.mb100 {margin-bottom: 100px;}

.ml5 {margin-left: 5px;}.ml10 {margin-left: 10px;} .ml15 {margin-left: 15px;}.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}.ml30 {margin-left: 30px;} .ml35 {margin-left: 35px;}.ml40 {margin-left: 40px;}
.ml45 {margin-left: 45px;}.ml50 {margin-left: 50px;} .ml55 {margin-left: 55px;}.ml60 {margin-left: 60px;}
.ml65 {margin-left: 65px;}.ml70 {margin-left: 70px;} .ml75 {margin-left: 75px;}.ml80 {margin-left: 80px;}
.ml85 {margin-left: 85px;}.ml90 {margin-left: 90px;} .ml95 {margin-left: 95px;}.ml100 {margin-left: 100px;}

.p5{padding:5px;}.p10{padding:10px;}.p15{padding:15px;}.p20{padding:20px;}.p25{padding:25px;}
.p30{padding:30px;}.p35{padding:35px;}.p40{padding:40px;}.p45{padding:45px;}.p50{padding:50px;}

.pt5 {padding-top: 5px;}.pt10 {padding-top: 10px;} .pt15 {padding-top: 15px;}.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}.pt30 {padding-top: 30px;} .pt35 {padding-top: 35px;}.pt40 {padding-top: 40px;}
.pt45 {padding-top: 45px;}.pt50 {padding-top: 50px;} .pt55 {padding-top: 55px;}.pt60 {padding-top: 60px;}
.pt65 {padding-top: 65px;}.pt70 {padding-top: 70px;} .pt75 {padding-top: 75px;}.pt80 {padding-top: 80px;}
.pt85 {padding-top: 85px;}.pt90 {padding-top: 90px;} .pt95 {padding-top: 95px;}.pt100 {padding-top: 100px;}

.pr5 {padding-right: 5px;}.pr10 {padding-right: 10px;} .pr15 {padding-right: 15px;}.pr20 {padding-right: 20px;}
.pr25 {padding-right: 25px;}.pr30 {padding-right: 30px;} .pr35 {padding-right: 35px;}.pr40 {padding-right: 40px;}
.pr45 {padding-right: 45px;}.pr50 {padding-right: 50px;} .pr55 {padding-right: 55px;}.pr60 {padding-right: 60px;}
.pr65 {padding-right: 65px;}.pr70 {padding-right: 70px;} .pr75 {padding-right: 75px;}.pr80 {padding-right: 80px;}
.pr85 {padding-right: 85px;}.prb90 {padding-right: 90px;} .pr95 {padding-right: 95px;}.pr100 {padding-right: 100px;}

.pb5 {padding-bottom: 5px;}.pb10 {padding-bottom: 10px;} .pb15 {padding-bottom: 15px;}.pb20 {padding-bottom: 20px;}
.pb25 {padding-bottom: 25px;}.pb30 {padding-bottom: 30px;} .pb35 {padding-bottom: 35px;}.pb40 {padding-bottom: 40px;}
.pb45 {padding-bottom: 45px;}.pb50 {padding-bottom: 50px;} .pb55 {padding-bottom: 55px;}.pb60 {padding-bottom: 60px;}
.pb65 {padding-bottom: 65px;}.pb70 {padding-bottom: 70px;} .pb75 {padding-bottom: 75px;}.pb80 {padding-bottom: 80px;}
.pb85 {padding-bottom: 85px;}.plb90 {padding-bottom: 90px;} .pb95 {padding-bottom: 95px;}.pb100 {padding-bottom: 100px;}

.pl5 {padding-left: 5px;}.pl10 {padding-left: 10px;} .pl15 {padding-left: 15px;}.pl20 {padding-left: 20px;}
.pl25 {padding-left: 25px;}.pl30 {padding-left: 30px;} .pl35 {padding-left: 35px;}.pl40 {padding-left: 40px;}
.pl45 {padding-left: 45px;}.pl50 {padding-left: 50px;} .pl55 {padding-left: 55px;}.pl60 {padding-left: 60px;}
.pl65 {padding-left: 65px;}.pl70 {padding-left: 70px;} .pl75 {padding-left: 75px;}.pl80 {padding-left: 80px;}
.pl85 {padding-left: 85px;}.pl90 {padding-left: 90px;} .pl95 {padding-left: 95px;}.pl100 {padding-left: 100px;}

.w100 {width: 100%;}.w90 {width: 90%;}.w80 {width: 80%;}.w70 {width: 70%;}.w60 {width: 60%;}
.w50 {width: 50%;}.w40 {width: 40%;}.w30 {width: 30%;}.w20 {width: 20%;}.w10 {width: 10%;}
.w95 { width: 95%;}.w85 {width: 85%;}.w75 { width: 75%;}.w65 {width: 65%;}.w55 {width: 55%;}
.w45 {width: 45%;}.w35 {width: 35%;}.w25 {width: 25%;}.w15 {width: 15%;}.w5 {width: 5%;}

.m0 {margin: 0px;} .mt0 {margin-top: 0px;} .mr0 {margin-right: 0px;} .mb0 {margin-bottom: 0px;} .ml0 {margin-left: 0px;}
.p0{padding: 0px;} .pt0 {padding-top: 0px;} .pr0 {padding-right: 0px;} .pb0 {padding-bottom: 0px;} .pl0 {padding-left: 0px;}

.lh-5 { line-height: 5px; }
.lh-10 { line-height: 10px; }
.lh-11 { line-height: 11px; }
.lh-12 { line-height: 12px; }
.lh-13 { line-height: 13px; }
.lh-14 { line-height: 14px; }
.lh-15 { line-height: 15px; }
.lh-16 { line-height: 16px; }
.lh-17 { line-height: 17px; }
.lh-18 { line-height: 18px; }
.lh-19 { line-height: 19px; }
.lh-20 { line-height: 20px; }
.lh-21 { line-height: 21px; }
.lh-22 { line-height: 22px; }
.lh-23 { line-height: 23px; }
.lh-24 { line-height: 24px; }
.lh-25 { line-height: 25px; }
.lh-30 { line-height: 30px; }
.lh-35 { line-height: 35px; }
.lh-40 { line-height: 40px; }
.lh-45 { line-height: 45px; }
.lh-50 { line-height: 50px; }
.lh-55 { line-height: 55px; }
.lh-60 { line-height: 60px; }
.lh-65 { line-height: 65px; }
.lh-70 { line-height: 70px; }
.lh-75 { line-height: 75px; }
.lh-80 { line-height: 80px; }
.lh-85 { line-height: 85px; }
.lh-90 { line-height: 90px; }
.lh-95 { line-height: 95px; }
.lh-100 { line-height: 100px; }